<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--<clear />-->

    <!--<add key="linux-arm" value="packages" />--> 
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="aspnet-core" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
  
   <!--To inherit the global NuGet package sources remove the <clear/> line below -->
 </packageSources>
</configuration>
